@model Skill
@{
    ViewData["Title"] = "Create Skills";
}
<h5 class="p-2 col-4 text-uppercase">
    <i class="bi bi-plus-circle-fill me-2"></i>Create new skill</h5>

<div class="shadow-sm rounded mt-3 p-4 bg-white">
    <form method="post" class="row align-items-end">
        <div class="form-group col-sm-5 ">
            <label asp-for="SkillName"></label>
            <input asp-for="SkillName" class="form-control" placeholder="Enter Skill">
        </div>
        <div class="col-sm-3 ">
            <button type="submit" class="btn btn-primary  bg-gradient w-100">
                <i class="bi bi-floppy me-2"></i>Save</button>
        </div>
           <small> <span asp-validation-for="SkillName" class="text-danger"></span></small>

    </form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}