@model Skill

@{
    var message = TempData["ErrorMessage"] as string;
}

<div>
    <p class="text-danger">@message</p>
</div>

<div class="shadow-sm rounded mt-3 p-4 bg-white">
    <form method="post" class="row align-items-end">
        <div class="form-group col-sm-5 ">
            <label asp-for="SkillName"></label>
            <input asp-for="SkillName" class="form-control" placeholder="Enter Skill Name ">
        </div>
        <div class="col-sm-3 ">
            <button type="submit" class="btn btn-primary  bg-gradient w-100">Save</button>
        </div>
           <small> <span asp-validation-for="SkillName" class="text-danger"></span></small>

    </form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}