html {
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
*:focus{
  box-shadow: none!important;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* margin-bottom: 60px; */
  background: var(--bs-gray-100);
}
body *{
  font-family: 'Poppins', sans-serif;
}

main{
  /* height: 100%; */
}
main>div{
  background-color: white;
 }
footer{
  background-color: white;
} 
.main-container {
  /* height: 100vh; */
}
/* navbar  */

@media (min-width: 576px) {
  .side-navbar-header {
      min-height: calc(100vh - 57px);
      /* position: fixed;
      left: 0;
      top: 0;
      bottom: 0; */
  }
  .side-navbar-header .navbar{
      height: 100%;
      align-items: flex-start;
  }

  .main-container {
      /* padding-left: 16%; */
      padding-top: 1.5rem;
      padding-bottom: 1rem;
  }
  
}
