html {
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
*:focus{
  box-shadow: none!important;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: var(--bs-gray-100);
}
body *{
  font-family: 'Poppins', sans-serif;
}



footer{
  background-color: white;
} 
/* navbar  */

@media (min-width: 576px) {
  .side-navbar-header {
      min-height: calc(100vh - 57px);
      width: 25%;
  }
  .side-navbar-header .navbar{
      height: 100%;
      align-items: flex-start;
  }

  .main-container {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
  }
  
}

@media(max-width: 576px){
  footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  body{
    padding-bottom: 60px;
  }
}