html {
  font-size: 14px;
}
* {
  box-sizing: border-box;
}
*:focus{
  box-shadow: none!important;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: var(--bs-gray-100);
}
body *{
  font-family: 'Poppins', sans-serif;
}

footer{
  background-color: white;
} 

input,select{
  border: 1.5px solid hsl(246, 25%, 77%)!important;
}
input:focus,select:focus{
  border: 2px solid #5D54A3!important;
}
label{
  color: #4b0082b0;
}
/* form validation */
.input-validation-error, .input-validation-error:focus{
  border-color: rgba(220,53,69)!important;
  color: rgba(220,53,69);
}
.input-validation-error::placeholder{
  color: rrgba(220,53,69)ed;
}
.form-group small {
  height: 20px;
  display: block;
}

/* toast */
.toast-container .toast-body{
  letter-spacing: 1px;
  font-weight: 500;
}
.btn-primary {
  color: #fff;
  background-color: rgba(103,2,175);
  border-color: #0d6efd;
  border-radius: 24px;
  box-shadow: 0px 3px 0px rgba(59, 0, 101, 0.3);

}
.btn-primary:hover {
  background-color: indigo;
}
.btn-info{
  box-shadow: 0px 3px 0px #0069be70;
  color: white;
}
 .btn.bg-light{
  box-shadow: 0px 3px 0px rgba(0,0,0,0.3);
}
.btn-secondary{
  box-shadow: 0px 3px 0px rgba(0,0,0,0.7);
}
.btn-danger{
  box-shadow: 0px 3px 0px #901723;
}
.btn-success{
  box-shadow: 0 3px 0px #086238;
}
.btn{
  font-weight: 500;
}
.btn:active{
  box-shadow: none;
  transform: translateY(1px);
}


/* navbar  */

.side-navbar-header{
  background: indigo;
}
li.nav-item {
  background: indigo;
  width: 80%;
  margin: 20px auto 0;
  /* box-shadow: 0 3px 6px #e6e6fa24; */
  border-radius: 8px;
}
li.nav-item:hover {
  background: white;
}
li.nav-item .nav-link{
  color: white!important;
  font-weight: 500;
}
li.nav-item:hover .nav-link {
  color: indigo!important;
}

@media (min-width: 576px) {
  .side-navbar-header {
      min-height: calc(100vh - 57px);
      width: 25%;
  }
  .side-navbar-header .navbar{
      height: 100%;
      align-items: flex-start;
  }

  .main-container {
      padding-top: 1.5rem;
      padding-bottom: 1rem;
  }
  
}

@media(max-width: 576px){
  footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
  body{
    padding-bottom: 60px;
  }
}