<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeSkillManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Employee.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmployeeSkillManagement.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    
    @* CDNs for datatable css *@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" />

    @* Google font *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,100;1,500;1,700&display=swap" rel="stylesheet">

</head>
<body>
    <div class="super-contianer d-sm-flex">
        @if(User.Identity!.IsAuthenticated){
        <header class="side-navbar-header col-sm-3 bg-gradient mb-4 mb-sm-0 border-end">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">
                <div class="container-fluid flex-sm-column p-0">
                    <a class="text-center mt-sm-5 mt-lg-4 mb-sm-4 text-light logo" asp-controller="Home" asp-action="Index">
                        <img src="~/Content/Images/capgemini-logo.png" class="logo-name mt-3">
                        <img src="~/Content/Images/cg-logo.png" class="logo-icon mt-3">
                        </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between w-100 text-center">
                        <ul class="navbar-nav flex-grow-1 flex-sm-column">
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">
                                    <i class="bi bi-house-door-fill me-2"></i><span>Home</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Employee" asp-action="Index">
                                    <i class="bi bi-people-fill me-2"></i><span>Manage Employees</span></a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Skill" asp-action="Index">
                                    <i class="bi bi-lightbulb skill-bulb  me-2"><i class="bi bi-gear-fill"></i></i><span>Manage Skills</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="javascript:void(0)" class="nav-link" data-bs-toggle="modal" data-bs-target="#logout-modal">
                                   <i class="bi bi-box-arrow-left me-2"></i><span>Logout</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="navbar-half-hide-toggle">
                <i class="bi bi-chevron-double-left"></i>
            </div>
            </nav>

            
        </header>
        }
        <div class="w-100 right-side-content">
        @if(User.Identity!.IsAuthenticated){
            <div class="top-bar w-100 bg-gradient d-none d-sm-block"><h4 class="me-5">Employee Skill Management</h4></div>
        }else{
            <div class="top-bar w-100 bg-gradient d-block mb-5"><h4 class="me-5">Employee Skill Management</h4></div>
        }
            <div class="container main-container">
                <main role="main" class="">
                    <partial name="_Notifications"></partial>
                    @RenderBody()
                </main>
            </div>
              @if(User.Identity!.IsAuthenticated){
                <footer class=" p-3 ">
                    <div class="container d-flex justify-content-center align-items-center">
                        &copy; 2023 - Employee Skill Management - Made by Shoaib
                    </div>
                </footer>
                }
        </div>
    </div>

    <div id="logoutModal">
        <partial name="_LogoutConfirmModal"></partial>
    </div>
  
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Employee.js" asp-append-version="true"></script>
    <script src="~/js/Skill.js" asp-append-version="true"></script>
    <script src="~/js/Home.js" asp-append-version="true"></script>

    @* CDNS for datatable *@
    <script type="text/javascript"src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script type="text/javascript"src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript"src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

    @* for chart *@
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
