@{
    ViewData["Title"] = "Home Page";
}
@* 

Home page will show data based on filters
Manage Employee will create, update, or delete data of employee
Manage Skills create, update, or delete data of skill 
 
Create partials view to show the data for the employee cards
Create partials view for the data-table to generate the report with export buttons 

Create 
create three input
    1) Search by Skill (options dropdown)
    2) Search by Name
    3) Search by Role (Hard coded values)


    ** Figure out how to use ajax 
    Take input from frontend send it to the controller using post
    then filter the data from database and send it to the view 

    Will have to split views in smaller parts just like we do in components in react
    
    DO NOT USE THE FOLLOWING SYNTAX!! USE PARTIAL VIEWS!!
    ******
    Maybe can use the following syntax:
    @{Html.RenderAction("Sliders", "Home");}
    *****
    
    or use partial views 

    Most probably will have to use partial views to show the table

    Not sure but think controller are also different for partial views. Need to research more!

    make table in two format
    1) Where search is done by skills (This will seperate skills 2 column : Primary and Other )
    2) Where search are not done by skills


    Also use Jquery Datatable to export the data in excel and pdf files


   
 *@


 <div class="form-header  p-1   mb-3">
    <h4>Employees List</h4>
</div>
<div class="p-4 mt-2">
    

    

</div>
